flask==3.0.3
flask-sqlalchemy==3.1.1
pydantic==2.8.2
pyyaml==6.0.2
svgwrite==1.4.3
reportlab==4.2.2
pillow==10.3.0
pytesseract==0.3.10
opencv-python==4.10.0.84
flask-restful==0.3.10
gunicorn==22.0.0
pdf2image==1.17.0
weasyprint==62.1
celery==5.4.0
redis==5.0.1
open3d==0.18.0
pytest==8.2.2
flake8==7.1.1
flask-wtf==1.2.1
flask-caching==2.2.0
textract==1.6.5
ocrmypdf==16.4.2
numpy==1.26.4
scipy==1.13.1
matplotlib==3.9.2
